root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2

# Html
[*.html,md}]
indent_size = 4

# Markdown
[*.mt]
indent_size = 4

# Rust
[*.rs]
indent_size = 4

[Makefile]
indent_style = tab
indent_size = 4
